# Build outputs
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.ilk
/*.pdb
/*.obj
/*.o
/*.so
/*.exe
/*.dll

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
/venv/

# Generated datasets / simulation captures
/data/
/pcd/

# IDE
.vscode/
*.swp
